# Project exclude paths
/.gradle/
/citybuild-core/build/
/citybuild-core/build/classes/java/main/
/citybuild-proxy/build/
/citybuild-proxy/build/classes/java/main/
/citybuild-slums/build/
/citybuild-slums/build/classes/java/main/
gradlew
gradlew.bat
*.class
